body{
    font-family: Helvetica Neue;
    margin: 0;
}

.topMenu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    font-size: 25px;
    margin: 20px;
    text-decoration: none;
    color:  #1DA1F2;
    transition: color 0.5s ease-out;
}

a:hover{
    color: orangered;
}

i{
    margin-right: 10px;
}

@media screen and (max-width: 920px){
    .topMenu{
        justify-content: space-around;
    }
    a{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){
    .topMenu{
        flex-direction: column;
        align-items: center;
        background-color: darkcyan;
    }
    a{
        color: white;
    }
    a:hover{
        color: orangered;
    }
}

#main{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0);
}

#profileCard{
    border: 1px solid red;
    width: 20%;
    margin: 5px;

}

#feed{
    border: 1px solid blue;
    margin: 5px;
}

#profileImg{
    width: 100px;
    border-radius: 70px;
}

li{
    display: inline;
}

#number{
    display: block;
}
